#div_body h2 {
	text-align: center;
	font-family: arial;
}
#div_body > div {
	width: 40%;
	min-width: 300px;
	margin: auto;
	min-height: 300px;
}
#follow {
	position: fixed;
	bottom: 10px;
	right: 20px;
	width: 130px;
}

#follow a:hover {
	background: white !important;
	color: black !important;
}

#follow a {
	display: block;
	background: #ef0;
	margin-bottom: -35px;
	padding-left: 10px;
	line-height: 35px;
	font-weight: bold;
	color: black;
	letter-spacing: 2px;
	font-family: Arial;
	z-index: -868;
	text-decoration: none;
	transition: .5s all;
	opacity: 0;
}

#follow:hover a {
	opacity: 1;
	margin-bottom: 10px;
	z-index: 1;
}

#follow:hover * {
	box-shadow: -4px 4px 20px 1px #607D8B;
}

#follow img	{
	width: 100%;
	display: block;
	background: white;
}

#follow a:nth-child(1) {
	background: #1da1f2;
}

#follow a:nth-child(2) {
	background: #F48FB1;
}

#follow a:nth-child(3) {
	background: #000;
	color: white;
}

#follow a:nth-child(4) {
	background: #4267b2;
}

		.box {
			border: 25px solid #673ab7;
			width: 250px;
			height: 250px;
			margin: 150px auto;
			position: relative;
			box-sizing: border-box;
			border-radius: 20%;
		}
		.lens {
			border: 25px solid #673ab7;
			width: 35%;
			height: 35%;
			position: absolute;
			top: 20%;
			left: 20%;
			border-radius: 50%;
		}
		.shot {
			width: 15%;
			height: 15%;
			background: #673ab7;
			position: absolute;
			box-sizing: border-box;
			top: 10%;
			right: 10%;
			border-radius: 50%;
		}
		.title {
			position: absolute;
			bottom: -95px;
			font-family: Arial;
			font-size: 16px;
			background: #673ab7;
			color: #fff;
			opacity: 0;
			text-align: center;
			width: 100%;
			padding: 10px 0;
			transition: all .5s ease-out;
		}
		.box:hover .title {
			opacity: 1;
			bottom: -85px;
		}