.point {
			width: 15%;
			height: 15%;
			position: absolute;
			top: 15%;
			left: 15%;
			border-radius: 50%;
			background: #fff;
		}
		.bara {
			width: 15%;
			height: 50%;
			left: 15%;
			top: 35%;
			position: absolute;
			background: #fff;
		}
		.box {
			background: #2196F3;
			width: 250px;
			height: 250px;
			margin: 50px auto;
			position: relative;
			border-radius: 10%;
		}
		.npart1 {
			width: 15%;
			height: 50%;
			left: 40%;
			top: 35%;
			position: absolute;
			background: #fff;
		}
		.npart2 {
			width: 31%;
			height: 50%;
			left: 54%;
			top: 35%;
			position: absolute;
			background: #fff;
			border-radius: 25px 45px 0 0; 												/*25px 45px 0 0*/
		}
		.npart3 {
			width: 15%;
			height: 40%;
			left: 55%;
			top: 45%;
			position: absolute;
			background: inherit;
			border-radius: 50px 50px 0 0; 														/*50px 50px 0 0*/
		}
		.title {
			position: absolute;
			bottom: -65px;
			font-family: Arial;
			font-size: 20px;
			background: inherit;
			color: #fff;
			opacity: 0;
			text-align: center;
			width: 100%;
			padding: 10px 0;
			transition: all .5s cubic-bezier(0.4, 0, 1, 1);
		}
		.box:hover .title {
			opacity: 1;
			bottom: -75px;
		}
#div_body h2 {
	text-align: center;
	font-family: arial;
}
#div_body > div {
	width: 40%;
	min-width: 300px;
	margin: auto;
	min-height: 300px;
}
#follow {
	position: fixed;
	bottom: 10px;
	right: 20px;
	width: 130px;
}

#follow a:hover {
	background: white !important;
	color: black !important;
}

#follow a {
	display: block;
	background: #ef0;
	margin-bottom: -35px;
	padding-left: 10px;
	line-height: 35px;
	font-weight: bold;
	color: black;
	letter-spacing: 2px;
	font-family: Arial;
	z-index: -868;
	text-decoration: none;
	transition: .5s all;
	opacity: 0;
}

#follow:hover a {
	opacity: 1;
	margin-bottom: 10px;
	z-index: 1;
}

#follow:hover * {
	box-shadow: -4px 4px 20px 1px #607D8B;
}

#follow img	{
	width: 100%;
	display: block;
	background: white;
}

#follow a:nth-child(1) {
	background: #1da1f2;
}

#follow a:nth-child(2) {
	background: #F48FB1;
}

#follow a:nth-child(3) {
	background: #000;
	color: white;
}

#follow a:nth-child(4) {
	background: #4267b2;
}